@import url("https://fonts.google.com/share?selection.family=Reggae%20One");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(224, 163, 163);
  color:rgb(66, 28, 28);
  font-family: 'Reggae One', cursive;
  display: flex;
  justify-content: center;
  min-height: 100vh;
  padding: 2rem;
}

h1 {
  margin: 2rem;
}

.board {
  border: 1rem solid rgb(177, 81, 81);
  background: black;
  width: 500px;
  height: 500px;
  display: grid;
  grid-template: repeat(3, 1fr) / repeat(3, 1fr);
  gap: 1rem;
}

.squares {
  background: indianred;
  border: none;
  font-size: 5rem;
  cursor: pointer;
  outline: none;
}

.X {
  color:indigo
}

.O {
  color:goldenrod
}

.info-wrapper {
  display: flex;
  justify-content: space-between;
}

h3 {
  padding: 1rem;
}

li {
  list-style: none;
}

.info-wrapper button {
  background: ivory;
  color: black;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 0.5rem;
  margin: 0.5rem 1rem;
}